<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Admin pr</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
	<link th:href="@{/css/style.css}" type="text/css" rel="stylesheet"/>    
</head>
<body>


<div  class="container my-2">
	<h1>Category list</h1>
		<a th:href = "@{/admin/category/add}" class="btn btn-primary btn-sm mb-3"> Add New Category </a>
	<table border="1" class= "table table-striped">
	<thead>
	<tr>
		<th>Category name</th>
		<th>cat status</th>
		<th>Action</th>
	</tr>
	</thead>
	<tbody>
	<tr th:each="c: ${categories}">
		<td th:text= "${c.name}"></td>
		<td th:text= "${c.status}"></td>
		<td><a href="" th:href="@{/admin/category/update/{id}(id=${c.id})}" class="btn btn-warning">Update</a>	</td>
       	<td><a href="" th:href="@{/admin/category/delete/{id}(id=${c.id})}" class="btn btn-danger">Delete</a>   </td>
 	</tr>
	</tbody>
	</table>
	<div> <a th:href="@{/home}" class="btn btn-primary btn-sm mb-3"> Home</a></div>
</div>



</body>
</html>